version: "3.3"

services:
  http:
    image: template_test
    ports:
      - "25100:25100"
    environment:
      BIND_ADDR: ":25100"
      AWS_REGION: "eu-west-2" # http://localstack:4572
      UPLOAD_BUCKET_NAME: "deprecated"
      STATIC_FILES_ENCRYPTED_BUCKET_NAME: "testing"
      GRACEFUL_SHUTDOWN_TIMEOUT: "5s"
      HEALTHCHECK_INTERVAL: "5s"
      HEALTHCHECK_CRITICAL_TIMEOUT: "5s"
    volumes:
      - ../dp-files-api:/dp-files-api:ro